.layout {
  min-height: 100vh !important;
}

.logo {
  color: white !important;
  padding: 10px !important;
}

.footer {
  text-align: center;
}

.inner-layout {
  padding: 24px;
  margin: 24px;
  height: 100%;
  background: #fff;
}
